<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../about-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <section class="secondSection">
      <h2>Who am I?</h2>

      <hr />

      <div class="middleSectionIcons">
        <div>
          <h4>Born and Raised</h4>

          <article>I've lived in Ericeira since the day I was born</article>
        </div>

        <div>
          <h4>Background</h4>

          <article>
            Before I got into the Web Development scene, I used to be a college
            student taking a tourism degree!
          </article>
        </div>

        <div>
          <h4>Fun Facts</h4>

          <article>
            I watch programming videos to fall asleep and I'm scared of the
            dark...
          </article>
        </div>
      </div>
    </section>
  </body>
</html>
